<h3>
    Generate New Module
</h3>
<form (ngSubmit)="onSubmit(courseForm)"  #courseForm="ngForm">
    
    <h5>
        Insert the Course ID to be Generated.
    </h5>

    <div class="form-group">
        <label for="textarea">Course ID</label>
        <input type="text" ngModel name="courseId" required class="form-control" >
    </div>

    <h5>
        Insert the Course Name to be Generated.
    </h5>

    <div class="form-group">
        <label for="textarea">Course Name</label>
        <input type="text" ngModel name="courseName" required class="form-control" >
    </div>

    <h5>
        Insert Full Name of Instructors:
    </h5>
    <h6>
        Put the full names of desired instructors separated by a comma. Eg: Will SMith, Tan Ah Beng, Muhammad Ali
    </h6>


    <div class="form-group">
        <label for="textarea">List of Instructors</label>
        <input type="textarea" ngModel name="instructorList" required class="form-control" >
    </div>

    <h5>
        Insert Number of Periods per Lecture:
    </h5>
    <h6>
        Put the number of periods per lecture separated by a comma. For example, if there were 5 lectures in a week:                
    </h6>
    <h6>
        eg: 5, 2, 1, 3, 4
    </h6>

    <div class="form-group">
        <label for="textarea">Number of Periods per Lecture</label>
        <input type="textarea" ngModel name="numberOfPeriod" required class="form-control" >
    </div>

    <!-- new part below -->

    <h5>
        Of the Lectures above, indicate the position of the shared lectures:
    </h5>
    <h6>
        Put '0' if it is the first lecture, '1' if it is the second lecture and so on
    </h6>
    <h6>
        eg: 0
    </h6>

    <div class="form-group">
        <label for="textarea">Position of Shared Lecture</label>
        <input type="textarea" ngModel name="positionOfSharedLecture" required class="form-control" >
    </div>


    <h5>
        Input Number Cohort Attending the Lecture:
    </h5>
    <div class="form-group">
        <label for="textarea">Number of Cohort Attending</label>
        <input type="number" ngModel name="numberOfCohort" required class="form-control" >
    </div>


    <button type="submit" [disabled]="!courseForm.form.valid" class="btn-block btn-primary">ADD</button>

</form>
<button (click)="myMethod($event)">Click Event</button>
