<h3>
    Choose the periods when you would prefer not to have lessons.
</h3>

<h5>
    Monday:
</h5>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">0800-0830</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">0830-0900</label>
      </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod3" value="option3">
        <label class="form-check-label" for="inlineCheckbox2">0900-0930</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod4" value="option4">
        <label class="form-check-label" for="inlineCheckbox2">0930-1000</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod5" value="option5">
        <label class="form-check-label" for="inlineCheckbox2">1000-1030</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod6" value="option6">
        <label class="form-check-label" for="inlineCheckbox2">1030-1100</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod7" value="option7">
        <label class="form-check-label" for="inlineCheckbox2">1100-1130</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod8" value="option8">
        <label class="form-check-label" for="inlineCheckbox2">1130-1200</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod9" value="option9">
        <label class="form-check-label" for="inlineCheckbox2">1130-1200</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod10" value="option10">
        <label class="form-check-label" for="inlineCheckbox2">1200-1230</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod11" value="optio11">
        <label class="form-check-label" for="inlineCheckbox2">1230-1300</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod12" value="option12">
        <label class="form-check-label" for="inlineCheckbox2">1300-1330</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod13" value="option13">
        <label class="form-check-label" for="inlineCheckbox2">1330-1400</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod14" value="option14">
        <label class="form-check-label" for="inlineCheckbox2">1400-1430</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod15" value="option15">
        <label class="form-check-label" for="inlineCheckbox2">1430-1500</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod16" value="option16">
        <label class="form-check-label" for="inlineCheckbox2">1500-1530</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod17" value="option17">
        <label class="form-check-label" for="inlineCheckbox2">1530-1600</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod18" value="option18">
        <label class="form-check-label" for="inlineCheckbox2">1600-1630</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod19" value="option19">
        <label class="form-check-label" for="inlineCheckbox2">1630-1700</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod20" value="option20">
        <label class="form-check-label" for="inlineCheckbox2">1730-1800</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod21" value="option21">
        <label class="form-check-label" for="inlineCheckbox2">1800-1830</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod22" value="option22">
        <label class="form-check-label" for="inlineCheckbox2">1830-1900</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod23" value="option23">
        <label class="form-check-label" for="inlineCheckbox2">1900-1930</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="MondayPeriod24" value="option24">
        <label class="form-check-label" for="inlineCheckbox2">1930-2000</label>
    </div>

    <br>
    <br>

<h5>
    Tuesday:
</h5>
    
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod1" value="option25">
        <label class="form-check-label" for="inlineCheckbox1">0800-0830</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod2" value="option26">
        <label class="form-check-label" for="inlineCheckbox2">0830-0900</label>
        </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod3" value="option27">
        <label class="form-check-label" for="inlineCheckbox2">0900-0930</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod4" value="option28">
        <label class="form-check-label" for="inlineCheckbox2">0930-1000</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod5" value="option29">
        <label class="form-check-label" for="inlineCheckbox2">1000-1030</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod6" value="option30">
        <label class="form-check-label" for="inlineCheckbox2">1030-1100</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod7" value="option31">
        <label class="form-check-label" for="inlineCheckbox2">1100-1130</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod8" value="option32">
        <label class="form-check-label" for="inlineCheckbox2">1130-1200</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod9" value="option33">
        <label class="form-check-label" for="inlineCheckbox2">1130-1200</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod10" value="option34">
        <label class="form-check-label" for="inlineCheckbox2">1200-1230</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod11" value="option35">
        <label class="form-check-label" for="inlineCheckbox2">1230-1300</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod12" value="option36">
        <label class="form-check-label" for="inlineCheckbox2">1300-1330</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod13" value="option37">
        <label class="form-check-label" for="inlineCheckbox2">1330-1400</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod14" value="option38">
        <label class="form-check-label" for="inlineCheckbox2">1400-1430</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod15" value="option39">
        <label class="form-check-label" for="inlineCheckbox2">1430-1500</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod16" value="option40">
        <label class="form-check-label" for="inlineCheckbox2">1500-1530</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod17" value="option41">
        <label class="form-check-label" for="inlineCheckbox2">1530-1600</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod18" value="option42">
        <label class="form-check-label" for="inlineCheckbox2">1600-1630</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod19" value="option43">
        <label class="form-check-label" for="inlineCheckbox2">1630-1700</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod20" value="option44">
        <label class="form-check-label" for="inlineCheckbox2">1730-1800</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod21" value="option45">
        <label class="form-check-label" for="inlineCheckbox2">1800-1830</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod22" value="option46">
        <label class="form-check-label" for="inlineCheckbox2">1830-1900</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TUesdayPeriod23" value="option47">
        <label class="form-check-label" for="inlineCheckbox2">1900-1930</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod24" value="option48">
        <label class="form-check-label" for="inlineCheckbox2">1930-2000</label>
    </div>

    <br>
    <br>

<h5>
    Wednesday:
</h5>
            
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="WednesdayPeriod1" value="option25">
        <label class="form-check-label" for="inlineCheckbox1">0800-0830</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="WednesdayPeriod2" value="option26">
        <label class="form-check-label" for="inlineCheckbox2">0830-0900</label>
        </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="WednesdayPeriod3" value="option27">
        <label class="form-check-label" for="inlineCheckbox2">0900-0930</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="WednesdayPeriod4" value="option28">
        <label class="form-check-label" for="inlineCheckbox2">0930-1000</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="WednesdayPeriod5" value="option29">
        <label class="form-check-label" for="inlineCheckbox2">1000-1030</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="WednesdayPeriod6" value="option30">
        <label class="form-check-label" for="inlineCheckbox2">1030-1100</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="WednesdayPeriod7" value="option31">
        <label class="form-check-label" for="inlineCheckbox2">1100-1130</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="WednesdayPeriod8" value="option32">
        <label class="form-check-label" for="inlineCheckbox2">1130-1200</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod9" value="option33">
        <label class="form-check-label" for="inlineCheckbox2">1130-1200</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod10" value="option34">
        <label class="form-check-label" for="inlineCheckbox2">1200-1230</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod11" value="option35">
        <label class="form-check-label" for="inlineCheckbox2">1230-1300</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod12" value="option36">
        <label class="form-check-label" for="inlineCheckbox2">1300-1330</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod13" value="option37">
        <label class="form-check-label" for="inlineCheckbox2">1330-1400</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod14" value="option38">
        <label class="form-check-label" for="inlineCheckbox2">1400-1430</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod15" value="option39">
        <label class="form-check-label" for="inlineCheckbox2">1430-1500</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod16" value="option40">
        <label class="form-check-label" for="inlineCheckbox2">1500-1530</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod17" value="option41">
        <label class="form-check-label" for="inlineCheckbox2">1530-1600</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod18" value="option42">
        <label class="form-check-label" for="inlineCheckbox2">1600-1630</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod19" value="option43">
        <label class="form-check-label" for="inlineCheckbox2">1630-1700</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod20" value="option44">
        <label class="form-check-label" for="inlineCheckbox2">1730-1800</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod21" value="option45">
        <label class="form-check-label" for="inlineCheckbox2">1800-1830</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod22" value="option46">
        <label class="form-check-label" for="inlineCheckbox2">1830-1900</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TUesdayPeriod23" value="option47">
        <label class="form-check-label" for="inlineCheckbox2">1900-1930</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="TuesdayPeriod24" value="option48">
        <label class="form-check-label" for="inlineCheckbox2">1930-2000</label>
    </div>

    <br>
    <br>






