

<div class="container-fluid">
    <div [ngStyle]="{'background' : './assert/SUTD.jpg'}"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">SUTD</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    

        <div class="collapse navbar-collapse show" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link " href="">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" ngModel name="loginpage" (click)='loginCondition()'>Login</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" ngModel name="signuppage" (click)='signupCondition()' >Sign Up</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" (click)='msgCondition()' >Message</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" ngModel name="softconstraints" (click)='softCondition()'>Soft Constraints</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " ngModel name="generateschedulepage" (click)='generateCondition()' >Generate</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" ngModel name="viewschedule" (click)='viewCondition()' >View Schedule</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"  ngModel name="logout" (click)='logoutCondition()' >Logout</a>
                </li>

                
            </ul>
        </div>
    
    </nav>
    <div id="plslogin" class="alert alert-warning collapse">
        <a herf="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Sorry!</strong>   Please Login First ~
    </div>





    <div id="blockLoginAlert" class="alert alert-warning collapse">
        <a herf="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Sorry!</strong>   You have already loged in~
    </div>

    <div id="blockSignupAlert" class="alert alert-warning collapse">
        <a herf="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Sorry!</strong>   Please Logout first
    </div>


    <div id="blockMSGAlert" class="alert alert-warning collapse">
        <a herf="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Sorry!</strong>   Access Denied.
    </div>


    <div id="blockGenerateAlert" class="alert alert-warning collapse">
        <a herf="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Sorry!</strong>   Access Denied.
    </div>

    <section class="view intro-2 rgba-gradient">
                
        <router-outlet></router-outlet>
        
    </section>

    


</div>
            








