<br>


  <table mdbTable class="z-depth-1" id="mytable">
      <thead>


      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col" [mdbTableSort]="elements" [sortBy]="headElements[i]">{{head}}
          <mdb-icon fas icon="sort"></mdb-icon>
        </th>

      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="scan in Scans" *ngFor="let el of elements; let i = index">
          <th scope="row">{{el.classNumber}}</th>
          <td>{{el.cohortNumber}}</td>
          <td>{{el.startTime}}</td>
          <td>{{el.endTime}}</td>
          <td>{{el.courseName}}</td>
          <td>{{el.day}}</td>
          <td>{{el.roomName}}</td>
          <td>{{el.roomId}}</td>
          
      </tr>
      </tbody>
    </table>

    <button (click)='onClickDownload()' ngModel name="down" class="btn-block btn-primary">Download Schedule</button>